<% flash.each do |type, value| %>
  <div data-controller="flash" class="fixed bottom-8 right-8 flex items-center p-3 rounded-lg <%= flash_style(type) %>">
    <p class="flex justify-content items-center gap-2 font-inter font-medium text-sm text-jw-white">
      <%= inline_svg_tag flash_icon(type), class: "w-5" %>
      <%= value %>
    </p>
  </div>
<% end %>
