<section class="flex flex-col gap-4 justify-between overflow-hidden bg-jw-seashell rounded-xl">
  <div class="p-4 bg-jw-san-marino">
    <h2 class="text-lg font-medium text-jw-white"><%= publisher.name %></h2>
  </div>

  <div class="flex p-4">
    <%= link_to t("field_service_reports.new.title"), new_publisher_field_service_report_path(publisher.id), class: "w-full p-2.5 bg-jw-san-marino rounded-md font-medium text-sm text-center" %>
  </div>
</section>
