<% content_for(:html_title) { t("publisher.title.singular") } %>

<section class="flex flex-col gap-8 h-full">
  <div>
    <h1 class="font-inter font-bold text-xl leading-6 text-jw-white"><%= t("publisher.new.title") %></h1>
    <p class="mt-2 font-inter font-medium text-base text-jw-quick-silver"><%= t("congregation") %></p>
  </div>
  
  <div class="grid grid-cols-2 gap-8 h-full">
    <%= render "form", publisher: @publisher %>
  </div>
</section>