<section class="flex flex-col justify-between p-4 bg-jw-seashell rounded-xl">
  <h2 class="mb-4 text-lg font-medium text-jw-bunting"><%= t("field_service_groups.title.variant.singular") %> <%= field_service_group.number %></h2>
  <%= link_to t("publishers.title"), field_service_group_publishers_path(field_service_group.id), class: "p-2.5 bg-jw-san-marino rounded-md font-medium text-sm text-center" %>
</section>
