@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "Latina Essential";
      src: url("latina-essential/latina-essential-bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
  }

  @font-face {
      font-family: "Latina Essential";
      src: url("latina-essential/latina-essential-medium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
  }
}
