@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "Latina Essential";
      src: url("latina-essential/latina-essential-bold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
  }

  @font-face {
      font-family: "Latina Essential";
      src: url("latina-essential/latina-essential-medium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
  }
}

@layer utilities {
  .grid-dashboard {
    grid-template-columns: 320px 1fr;
  }
}

/* * { outline: 1px solid rgba(255,0,0,.2); }
* * { outline: 1px solid rgba(0,255,0,.2); }
* * * { outline: 1px solid rgba(0,0,255,.2); }
* * * * { outline: 1px solid rgba(255,0,255,.2); }
* * * * * { outline: 1px solid rgba(0,255,255,.2); }
* * * * * * { outline: 1px solid rgba(255,255,0,.2); }
* * * * * * * { outline: 1px solid rgba(255,0,0,.2); }
* * * * * * * * { outline: 1px solid rgba(0,255,0,.2); }
* * * * * * * * * { outline: 1px solid rgba(0,0,255,.2); } */
