@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("inter/Inter-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("inter/Inter-Bold.woff2") format("woff2");
  }
}

@layer utilities {
  .grid-dashboard {
    grid-template-columns: 320px 1fr;
  }
}

@layer components {
  .otp {
    @apply w-9 p-2 first:rounded-l-lg last:rounded-r-lg border-none bg-transparent font-inter font-medium text-base text-center uppercase text-jw-white hover:ring-jw-san-marino hover:ring-2 hover:ring-inset hover:ring-jw-san-marino focus:ring-2 focus:ring-inset focus:ring-jw-san-marino;
  }

  .submit {
    @apply mt-4 p-2 rounded-lg ring-2 ring-inset ring-jw-san-marino bg-jw-bunting font-inter font-medium text-base text-jw-white text-center cursor-pointer;
  }

  .fieldServiceReportProperty {
    @apply flex justify-center first:justify-start last:justify-start items-center font-inter font-medium text-base text-jw-onyx;
  }

  .commit {
    @apply inline-block px-4 py-2 rounded-lg bg-jw-bunting font-inter font-medium text-base text-jw-white text-center cursor-pointer;
  }

  .label {
    @apply w-full font-inter font-medium text-base text-jw-onyx;
  }

  .legend {
    @apply w-full mb-2 font-inter font-medium text-base text-jw-onyx;
  }

  .checkbox {
    @apply h-6 w-6 rounded-lg border-none ring-2 ring-inset ring-jw-san-marino/50 text-jw-san-marino hover:ring-jw-san-marino focus:ring-inset focus:ring-jw-san-marino focus:ring-offset-0;
  }

  .radio {
    @apply h-6 w-6 rounded-full border-none ring-2 ring-inset ring-jw-san-marino/50 text-jw-san-marino hover:ring-jw-san-marino focus:ring-inset focus:ring-jw-san-marino focus:ring-offset-0;
  }

  .control {
    @apply w-full mt-2 px-3 py-2 border-none rounded-lg font-inter text-base text-jw-onyx ring-2 ring-inset ring-jw-san-marino/50 hover:ring-jw-san-marino focus:ring-inset focus:ring-2 focus:ring-jw-san-marino disabled:bg-jw-san-marino/50 disabled:cursor-not-allowed disabled:ring-transparent;
  }

  .field_with_errors {
    @apply flex flex-col;
  }

  .invalid {
    @apply ring-jw-error/50 hover:ring-jw-error focus:ring-jw-error;
  }
}

/* * { outline: 1px solid rgba(255,0,0,.2); }
* * { outline: 1px solid rgba(0,255,0,.2); }
* * * { outline: 1px solid rgba(0,0,255,.2); }
* * * * { outline: 1px solid rgba(255,0,255,.2); }
* * * * * { outline: 1px solid rgba(0,255,255,.2); }
* * * * * * { outline: 1px solid rgba(255,255,0,.2); }
* * * * * * * { outline: 1px solid rgba(255,0,0,.2); }
* * * * * * * * { outline: 1px solid rgba(0,255,0,.2); }
* * * * * * * * * { outline: 1px solid rgba(0,0,255,.2); } */
