<aside class="row-span-full flex flex-col gap-6 p-6 bg-jw-black text-white">
  <%= link_to "JWKit", field_service_groups_path, class: "font-medium text-xl" %>
  <nav>
    <ul class="flex flex-col gap-1">
      <% if controller_name == 'publishers' && action_name == 'index' %>
        <li>
          <%= link_to field_service_groups_path, class: "flex items-center gap-3 p-2 rounded-md text-sm font-medium text-slate-300 hover:bg-jw-onyx hover:text-slate-50" do %>
            <%= inline_svg_tag "icons/field_service_group.svg", class: "w-6" %>Groups
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>