<% content_for :dashboard do %>
  <section class="grid grid-dashboard h-full">
    <%= render "layouts/sidebar" %>
    <main class="p-8 bg-jw-black">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </section>
<% end %>

<%= render template: "layouts/application" %>
